@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0E8FF;
}

main {
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    width: 327px;
    margin-top: 71px;
  
}

.box_content {
    background-color: #FFFFFF;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    padding-top: 32px;
    color: #1F2E55;
}

p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    padding-top: 16px;
    margin: 0 32px 0 32px;
    color: #717FA6;
}

.anual_container {
    display: flex;
    align-items: center;
    width: 279px;
    height: 81px;
    background-color: #F7F9FF;
    margin: 24px 24px 0 24px;
    border-radius: 20px;
}

.anual_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 16px 0 16px;
}

.anual_plan {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 20px;
}

.anual_plan__title {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 0.8em;
    line-height: 19px;
    color: #1F2E55;
}

.anual_plan__price {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #717FA6;
}

.btn_change {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #382AE1;
}

.btn_payment {
    display: flex;
    justify-content: center;
    width: 279px;
    height: 50px;
    background-color: #382AE1;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    border-radius: 11px;
    margin: 39px 24px 0 24px;
    cursor: pointer;
    outline: none;
}

.btn_payment p {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 0.9em;
    line-height: 20px;
    color: #FFFFFF;
}

.cancel_order {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0 32px 0;
    cursor: pointer;
}

.cancel_order span {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 0.9em;
    line-height: 20px;
    color: #717FA6;
}

@media (min-width: 376px) {
    main {
        background-image: url(../images/pattern-background-desktop.svg);
    }

    .box {
        width: 450px;
        padding-top: 102px;
        margin: 0;
    }

    .box_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1.75em;
        padding-top: 45px;
    }

     p {
        margin: 0 48px 0 48px;
        padding-top: 17px;
        font-size: 1em;
    }

    

    .anual_container {
        width: 354px;
        margin: 20px 48px 32px 48px;
    }

    .anual_plan {
        margin: 0 94px 0 20px;
    }

    .btn_payment {
        width: 354px;
        margin: 0 48px 0 48px;
    }

    .btn_payment:active {
        background-color: #766CF1;
    }

    .cancel_order span:active {
        color: #1F2E55;
    }
}